
$background-color:#fff;
$tertiary:#414141;
$secondary:#fff;
$primary:#000 ;
$Blue:#3498DB;
$intermediary:rgb(129, 129, 129);

$primary-contrast-color:#283747;
$secondary-contrast-color:#212F3C;

$BigText:6vw;              // Name in the introduction
$MediumText:1.9vw;           // h2 in the introduction
$SmallText:1.2vw;            // About Text
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $secondary;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background: $tertiary
    }
    &::-webkit-scrollbar-thumb{
        background: $primary;
    }
}
.green{
    color: green!important;;
}
hr{
    border:.5px solid $primary ;
}
h1{
    text-align: center;
}
header{
    top:0;

    width: 100%;
    height: 50px;

    position: sticky;

    background: $primary;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    nav,ul,li{
        list-style: none;
    }
    nav{
        width: 90%;
        height: 100%;
        margin: auto;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    }
    ul{
        height: 80%;
        width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        margin:0;
        padding: 0;
    }
    li{
        width: auto;
        margin:0px 10px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
    
        color: $secondary;
        font-size:1.2rem;
    
        transition: ease-out 0.3s;
        position:relative;
        z-index: 1;
        padding: 5px;
        &:hover{
            color:$primary;
            &::before{
                top: 0;
   
                opacity: 1;
                z-index: -1;
                border-radius:8px; 
           }
        }
        &::before{
             content:"";

             top:100%;
             bottom:0;
             right: 0;
             left: 0;

             opacity: 0;
             background-color: $background-color;

             position: absolute;
             transition: 0.2s;
        }
        
    }
}

main{
    padding: 15px;
    height: 100%;
    width: 100%;

        .fullRow{
            width: 100%;
            height: auto;

            margin-bottom:40px;

            p{
                font-size: $SmallText;
                width: 90%;
                margin: auto;
            }
            &#introduction{
                display: flex;
                flex-direction: column;  
                align-items: center;
                .container{
                    width: 80px;
                    height:40px;
                    background-color:$tertiary ;
                    border-radius:4px;

                    margin:20px;

                }
                input[name="Language"]{
                    display:none;
                }
                label#LanguageButton{
                    display:inline-block;
                    width: 50%;
                    height:100%;
                    background: $Blue;
                    border-radius:4px 0px 0px 4px;
                    transition: 0.2s;

                    &.EN:before{
                        content:"EN";
                        display:flex;   
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;

                        width: 100%;
                        height: 100%;

                        color:$secondary;
                        
                    }

                    &.PT-BR{
                        margin-left:50%;
                        border-radius:0px 4px 4px 0px;

                        &::before{
                            content:"PT";
                            display:flex;   
                            justify-content: center;
                            align-items: center;
                            font-size: 1.2rem;
    
                            width: 100%;
                            height: 100%;
    
                            color:$secondary;
                        }
                    }
                }

                h1{
                    font-size: $BigText;
                    margin:0;
                }
                h5{
                    margin-top:0;
                }
                h2{
                    font-size: $MediumText;
                }
                h1,h2,h3,h4,h5{
                    width: max-content;
                    color:$primary;
                    font-weight: normal;
                }
            }
            #TecBody{
                width: 100%;
                max-width: 100%;
                height: 300px;
                display: flex;
                flex-wrap: wrap;
                position: relative;

               
                #Front-End, #Back-End{
                    width: 50%;
                    height: 100%;
                    transition: 0.3s;
                    position: absolute;
                    top: 0;
                    h4{
                        margin:0;
                    }
                    .row{
                        width: 100%;
                        height: 60px;
                        background:#fff;
                    }
                    .row.title{
                        width: 100%;
                        background:transparent;   
                        text-align: center;
                        color:rgb($secondary,0.5);
                        font-weight:bold;
                        font-size:calc(#{$MediumText} + 1rem);
                    }
                    .teclist{
                       
                        height: 60%;

                        margin:0;
                        padding:0;

                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        >section{
                            width: 30%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h4{
                                color:rgba(168, 123, 80);
                                font-weight: bold;
                                font-size: $MediumText;
                                margin-bottom: 15px;
                            }
                            ul{
                                list-style: none;
                                display: none;

                                margin: 0;
                                padding:0;

                                li{
                                    color:$intermediary;
                                    width: 100%;
                                    margin-bottom:10px;
                                    font-weight: bold;
                                    &::before{
                                        content:"✔  ";
                                        color:Green;
                                    }
                                }
                            }
                        }
                    }
                    &.disable{
                        width: 0;
                        visibility: hidden;
                        h4{
                            display:none;
                        }
                        section{
                            display: none;
                        }
                    
                    }
                    &.open{
                        width: 100%;
                        .teclist{
                            flex-direction:row;
                            > section{
                                color:rgb(233, 135, 43);
                                
                                ul{
                                    display: block;
                                }
                            }
                        }
                        .row.title{
                            color:rgb($secondary,0.8);
                        }
                    }
                   
                  
                }
                #Front-End{
                    background-color:$primary-contrast-color ;
                    left:0;
                }
                #Back-End{
                    background-color:$secondary-contrast-color;
                    right: 0;
                }
            }
        }
}

